.grid {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* height: 36px; */
    /* width: 36px; */
    min-width: calc(100% / var(--number));
    margin: 0px;
    outline: 1px solid green;
    flex: 1;
    aspect-ratio: 1 / 1;

}

.container {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:stretch;
    width: 500px;
    border: 1px solid green;
}

body{
    background-color: azure;
    
}

:root {
    --number:16;
}
 